.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.article {
  margin: 0 auto;
  border: 2px solid currentColor;
  background-color: var(--background-color, #fff);
  max-inline-size: 700px;
}

.article:not(:last-of-type) {
  margin-block-end: 50px;
}

.section {
  border-block-end: 2px solid currentColor;
  padding: 4px 10px;
  font-size: inherit;
  line-height: normal;
  font-variation-settings: "wght" var(--title-font-weight);
}

.picture-label {
  position: relative;
}

.image {
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.contrast {
  filter: contrast(200%);
}

.saturate {
  filter: saturate(30%);
}

.invert {
  filter: invert(75%);
}

.sepia {
  filter: sepia(60%);
}

.opacity {
  filter: opacity(25%);
}

.blur {
  filter: blur(5px);
}

.brightness {
  filter: brightness(0.4);
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font, "PressStart2P-Regular"), fantasy;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff), 1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
  mix-blend-mode: hard-light;
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
}

.content {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 6px;
  border-block-start: 2px solid currentColor;
  padding: 25px;
}

.text {
  grid-column: span 2;
  /* line-height: 116%; */
  line-height: calc(21/18);
}

.text:not(:last-of-type) {
  margin-block-end: 27px;
}

.text:last-of-type {
  margin-block-end: 25px;
}

.card__like-button {
  position: relative;
  grid-column: 2;
  justify-self: end;
  border: 2px solid currentColor;
  padding: 9px 17px;
  overflow: auto;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: 14px;
  text-transform: inherit;
  background: var(--background-color, #fff);
  line-height: 0.9;
  background-color: transparent;
  transition: box-shadow 0.3s;
  min-inline-size: 130px;
} 

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--accent-color, #000000);
  padding: 10px 36px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: 14px;
  text-transform: inherit;
  background: var(--background-color, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  overflow: auto;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  grid-column: 1;
  justify-self: end;
  align-self: center;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s;
  padding: 0;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: currentColor;
}

.button-save {
  position: relative;
  /* display: flex;
  align-items: center;
  gap: 8px;*/
  margin: 50px auto clamp(6.375rem, 6.309rem + 0.2817vw, 6.5625rem); 
  border: 2px solid currentColor;
  padding: 15px 20px;
  overflow: auto;
  background-color: var(--background-color, #fff);
  transition: box-shadow 0.3s;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__like-button:focus-visible .button-save:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
}

.card__like-button::before,
.button-save::before,
.modal__button::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid currentColor;
  background-color: currentColor;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  transform-origin: left;
}

.card__like-button:hover::before,
.button-save:hover::before,
.modal__button:hover::before {
  transform: translateX(0%);
}

/* .button__icon {

}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  color: var(--buttons-text-color, #fff);
  mix-blend-mode: difference;
}

.modal {
  border: 2px solid currentColor;
  padding: 25px 30px;
  color: var(--accent-color, #000000);
  font-family: var(--accent-font, "PressStart2P-Regular"), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-color, #ffffff);
  max-inline-size: 355px;
}

.modal[open] {
  /* display: grid;
  grid-template-areas:
    "floppy text"
    "form form";
  align-items: center;
  gap: 30px 20px; */
  /* display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal .button__icon {
  grid-area: floppy;
  width: 36px;
  height: 39px;
}

.dialog-content {
  grid-area: text;
  line-height: 1.5;
  text-transform: uppercase;
}

.form {
  grid-area: form;
}

.modal__button {
  position: relative;
  border: 2px solid currentColor;
  padding: 9px 17px;
  overflow: auto;
  line-height: 0.9;
  background-color: transparent;
  inline-size: 100%;
} */ 




.modal {
  border: 2px solid var(--accent-color, #000000);
  padding: 25px 30px;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-color, #ffffff);
  max-inline-size: 355px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
}

 .button__text {
  position: relative;
  z-index: 1;
  color: var(--buttons-text-color, #fff);
  mix-blend-mode: difference;
 
} 

.button__text,
.button__icon {
  color: var(--buttons-text-color, #ffffff);
  mix-blend-mode: difference;
}

.button__icon {
  flex-shrink: 0;
  block-size: 39px;
  inline-size: 39px;
}


.like-icon {
  flex-shrink: 0;
  block-size: 36px;
  inline-size: 39px;
}


/* @media (width <= 425px) {
  .save-button {
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}  */

 @media (width < 375px) {
  .modal {
    padding: 28px 34px 28px 40px;
    max-inline-size: 340px;
  }

  .button--save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
} 
